.body-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 70px;
}
.menu-container{
    max-width: 1200px;
    width: 100%;
    margin: 60px auto;
}
.menu-container a img{
    height: 25px;
    width: 142px;
}
.flex{
    display: flex;
}
.justify-space-between{
    justify-content: space-between;
}
.navbar ul{
    justify-content: flex-end;
}
.navbar ul li{
    margin-right: 125px;
    
}
.navbar ul li:last-child{
    margin-right: 0;
}
.font{
    font-size: 14px;
    color: #626262;
}
.banner img{
    width: 100%;
}
.p-container{
    width: 100%;
    margin-top: 98px;
    padding: 0 81px;
}
.p-container h2{
    margin: 21px 0 35px 0;
}
.font30{
    font-size: 30px;
    color: #626262;
}
.p-container p{
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 98px;
}
.photo-container{
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 81px;
    margin: 101px 0;
}
.photo-div{
    max-width: 420px;
}
.margin-img{
    margin-bottom: 30px;
}
.margin-h3{
    margin: 24px 0;
}
